# hidden files
!.git*
!.editorconfig
!.nojekyll
!.husky
!.commitlintrc.json
!.versionrc.json
!.stylelintrc.json

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

# Next.js build output
blog-nextjs/.next/
blog-nextjs/dist/
blog-nextjs/out/

# Next.js cache
blog-nextjs/.cache/
blog-nextjs/.vercel
